<nav class="d-flex justify-content-between align-items-center">
  <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="d-lg-none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V2H0V0ZM0 7H20V9H0V7ZM20 14H0V16H20V14Z" fill="#0065F2" (click)="toggleMneu()" />
    </svg>
  <img src="../../assets/Logo.png" alt="">
  <ul class="d-none d-lg-flex list-unstyled align-items-center">
    <li><a class="text-decoration-none me-4" routerLink="./">First</a></li>
    <li><a class="text-decoration-none me-4" routerLink="./">Second</a></li>
    <li><a class="text-decoration-none me-4" routerLink="./">Third</a></li>
    <li><a class="text-decoration-none me-4" routerLink="./">Fourth</a></li>
  </ul>
  <!-- <svg-icon [icon]="'fb'" [class]="'icon-20'" class="text-white"></svg-icon> -->

  <ul class="d-none d-lg-flex list-unstyled justify-content-end align-items-center">
    <li><button class="btn btn-secondary">Action</button></li>
  </ul>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="d-lg-none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.76 9.29587L23 9.52087L16.465 14.5648L18.7986 22.5L12.0002 17.8208L5.20187 22.4999L7.53531 14.564L1 9.52088L9.2403 9.29587L12.0002 1.5L14.76 9.29587ZM13.6415 10.8411L12.0002 6.20486L10.3589 10.8411L5.45914 10.9749L9.34527 13.9737L7.95757 18.6932L12.0002 15.9108L16.0427 18.6932L14.6551 13.9746L18.5415 10.9749L13.6415 10.8411Z" fill="#0065F2"/>
  </svg>
</nav>
<div class="menu" [ngClass]="{'active': isMenuOpened}">
  <div class="d-flex justify-content-end">
    <div class="rounded-circle me-6 mt-2" (click)="toggleMneu()">X</div>
  </div>
  <ul class="list-unstyled">
    <li class="text-center py-3"><a class="text-decoration-none me-4" routerLink="./">First</a></li>
    <li class="text-center py-3"><a class="text-decoration-none me-4" routerLink="./">Second</a></li>
    <li class="text-center py-3"><a class="text-decoration-none me-4" routerLink="./">Third</a></li>
    <li class="text-center py-3"><a class="text-decoration-none me-4" routerLink="./">Fourth</a></li>
  </ul>
</div>
