$gray-200: #e9ecef !default;


$primary:        #0065F2;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

// Body
//
// Settings for the `<body>` element.
$body-color:                $primary !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 568px,
  lg: 768px,
  xl: 1164px,
  xxl: 1440px
) !default;
// scss-docs-end grid-breakpoints


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 480px,
  md: 520px,
  lg: 730px,
  xl: 1140px,
  xxl: 1320px
) !default;
// scss-docs-end container-max-widths


$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.25,
  5: $spacer * 1.5,
  6: $spacer * 1.75,
  7: $spacer * 2,
  8: $spacer * 2.25,
  9: $spacer * 2.5,
  10: $spacer * 2.75,
  11: $spacer * 3,
  12: $spacer * 3.25,
  13: $spacer * 3.5,
  14: $spacer * 3.75,
  15: $spacer * 4,
) !default;

// Buttons + Forms
//
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1rem !default;
$btn-border-radius:           0 !default;
$btn-border-radius-sm:        0 !default;
$btn-border-radius-lg:        0 !default;
$input-bg:                              rgba(224, 236, 253, 0.4) !default;
$input-border-width:                    0 !default;
$input-border-radius:                   null !default;
$input-border-radius-sm:                null !default;
$input-border-radius-lg:                null !default;
$input-placeholder-color:               rgba(89, 153, 243, 0.4)  !default;
$input-group-addon-bg:                  $gray-200 !default;
